{% extends "account/base3.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} |
{% trans "Sign In" %}
{% endblock %}

{% block inner %}
<div class="login-logo">
  <h1><a href="{% url 'home' %}">{% trans 'Sign In' %}</a></h1>
</div>

<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">{% trans 'Sign in to start your session' %}</p>

    <form action="" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <!-- /.col -->
      <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Sign In' %}">
      <!-- /.col -->
    </form>

    <!-- .social-auth-links -->
    <div class="social-auth-links text-center mb-3">
      <p> - {% trans "or" %} - </p>
      {% get_providers as socialaccount_providers %}
      {% for provider in socialaccount_providers %}
      {% if provider.id == "openid" %}
      {% for brand in provider.get_brands %}
      <a title="{{brand.name}}" class="btn btn-block btn-primary"
	 href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
	{{brand.name}}
      </a>
      {% endfor %}
      {% endif %}
      <a title="{{provider.name}}" class="btn btn-block btn-primary"
	 href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
      {% endfor %}
    </div>
    <!-- /.social-auth-links -->

    <p class="mb-1">
      <a href="{% url 'account_reset_password' %}">{% trans 'I forgot my password' %}</a>
    </p>
    <p class="mb-0">
      <a href="{{ signup_url}}" class="text-center">{% trans 'Register a new membership' %}</a>
    </p>
  </div>
  <!-- /.login-card-body -->
</div>
{% endblock %}
