{% extends "account/base3.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
<div class="login-logo">
  <h3><a href="{% url 'home' %}">{% trans 'Password Reset' %}</a></h3>
</div>

<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <!-- /.social-auth-links -->
  </div>
      <!-- /.login-card-body -->
</div>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}


{% endblock %}
