{% extends 'base3.html' %}
{% load i18n thumbnail %}

{% block title %}
{{ block.super }} |
{{ object.cource.name }} |
{{ object.name }}
{% endblock %}


{% block crumbs %}
{{block.super}}
<li class="breadcrumb-item"><a href="{{ object.cource.get_absolute_url }}">{% trans 'Cource' %}</a></li>
<li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{% trans 'Lesson' %}</a></li>
{% endblock %}

{% block page_title %}
{{object.name}}
{% endblock %}

{% block content %}
<section class="col-lg-7">

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{% trans 'Video' %}</h3>
      <div class="card-tools">
	<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
	</button>
	<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
	</button>
      </div>
    </div>

    <div class="card-body">
      <table id="video-table" class="table">
        <thead>
          <tr>
            <th>{% trans 'Teacher' %}</th>
            <th>{% trans 'Video' %}</th>
          </tr>
        </thead>
        <tbody>
	  {% for video in object.video_set.all %}
          <tr>
            <td>
	      {% thumbnail video.teacher.image "160x160" crop="center" as im %}
	      <img src="{{ im.url }}" alt="{% trans 'User Image' %}" class="img-circle img-sm">
	      {% endthumbnail %}
	      <span class="username">
		<a href="{{video.teacher.get_absolute_url}}"><small>{{ video.teacher.get_full_name}}</small></a>
	      </span><!-- /.username -->
            </td>
            <td>
	      <icon class="far fa-file-video"></icon>
	      <a href="{{video.get_absolute_url}}">
		<small>{{video.title}} - {{video.name}}</small>
	      </a>
            </td>
          </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



  {% for question in object.question_set.all %}
  <div class="col-lg-6">

    <div class="card">
      <div class="card-header">
	{{question.text}}
	<div class="card-tools">
	  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
	  </button>
	</div>
      </div>

      <form action="{% url 'educations:answer-create' %}" method="POST">{%csrf_token%}
	<input type="hidden" id="id_question" name="question" value="{{question.pk}}">

	{% ifequal question.variant_set.count 1 %}
	<div class="card-body">
	  <input type="text" id="id_written" name="written">
	</div>
	{% else %}

	{% if question.answer_set.last.is_valid %}
	<div class="card-body">
	  <div class="badge badge-success">
	    <i class="fa fa-check" aria-hidden="true"></i>
	  </div>
	  {{question.answer_set.last.variant}}
	</div>
	{% else %}
	<div class="card-body">
	  <ul>
	    {% for variant in question.variant_set.all %}
	    <p><input id="id_variant" name="variant" type="radio" value="{{variant.pk}}"> {{variant.text}}</p>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}
	{% endifequal %}
	<div class="card-footer">
	  <input type="submit" value="{% trans 'Answer' %}">
	</div>

      </form>

    </div>
  </div>
  {% endfor %}

</section>


<section class="col-lg-5">

  <div class="card">
    <div class="card-header border-0">
      <h3 class="card-title">{% trans 'Description' %}</h3>

      <div class="card-tools">
	<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
	</button>
	<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
	</button>
      </div>

    </div>
    <div class="card-body">
      <p>{{object.desc|safe}}</p>
    </div>
  </div>

</section>

{% endblock %}

{% block js_ext %}
{{ block.supper}}
<script>
  $(function () {
      $("#example1").DataTable({
	  "responsive": true,
	  "autoWidth": false,
      });
      $('#video-table').DataTable({
	  "paging": false,
	  "lengthChange": false,
	  "searching": false,
	  "ordering": true,
	  "info": false,
	  "autoWidth": false,
	  "responsive": false,
      });
  });
</script>
{% endblock %}
